@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.1;
    --messagetransparency: 0.5;
    --guildchanneltransparency: 0.5;
    --memberlistransparency: 0.4;
    --accentcolor: 69,221,255;
    --background: url("https://cdn.discordapp.com/attachments/850825103703932938/850861251650781234/Sambackground2.jpg");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}
